<h1>Top 5 Artists</h1>

<div class="row">
  <% @artists.each_with_index do |artist, index| %>
		<% if index < @artists.length - 1 %>
			<div class="col-md-6">
		<% else %>
		  <div class="col-md-6 col-md-offset-3">
	 	<% end %>
	  
	    <div class="well">
	      <h3><%= link_to artist.name %></h3>
	      <p>
	        <% artist.rating.to_i.times do %>
	        <i class="fa fa-star yellow" aria-hidden="true"></i>
	        <% end %>
	      </p>
	     </div>
	  </div>
  <% end %>
</div>
